.hero-meetup--next .hero-background {
  background:url("/images/bridge.jpg") no-repeat center center / cover;
  background-color:#333
}

.welcome {
  color: #fff;
  text-align: center;
  z-index: 1000;
}

.home-about{
  text-align: center;
  margin: 3rem 0;
}
